* {
box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', 'sans serif';

}

#products {
  display: flex;
  flex-wrap: wrap;
}

.product-card > h2 {
  text-transform: uppercase;
}

.product-card {
  color: white;
  width: calc(50% - 2rem);
  display: flex;
  flex-direction: column;
  background-color: tomato;
  height: 300px;
  margin: 1rem;
  border-radius: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
