body {
  font-family: 'Roboto Condensed', 'sans serif';
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.product-card > h1 {
  text-transform: uppercase;
}

.product-card {
  width: 400px;
  height: 300px;
  margin-right: 0px;
}
